<html>

<head>
    <title>404</title>
    <link rel="icon" href="/static/img/weather.png">
    <link rel="stylesheet" href="/static/css/livelong.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2811329373442496"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessage}}</p>
    </div>
    
    {{>footer}}

</body>

</html>