<html>

<head>
    <title>About</title>
    <link rel="icon" href="/static/img/robot.png">
    <link rel="stylesheet" href="/static/css/livelong.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2811329373442496"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}
    <p>
        Our goal is to help people with deciding whether or not they should purchase property in a specific area based on different environmental factors that will change in the coming 20 years in that area. This is done by using data we have found that takes into account different environmental factors that include:
    </p>
    <ul>
        <li>
            Rising sea levels
        </li>
        <li>
            Air pollution
        </li>
        <li>
            Heat prediction
        </li>
        <li>
            General natural disasters (e.g. taking fault lines into consideration)
        </li>
    </ul>
    </div>
    
    {{>footer}}
</body>

</html>